body {
    margin: 0;
}

.grid-button-container {
    display: flex;
    height: 5vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.grid-button-container button {
    padding: 0.5em 2em;
}

.grid-container {
    width: 500px;
    height: 500px;
    margin: auto auto;
    border: 4px gold ridge;
}
